<form class="add" action="/invitaciones" method="get">
  <input type="text" name="name1" placeholder="Novio">
  <input type="text" name="name2" placeholder="Novia">
  <input type="date" name="date" placeholder="dd/mm/aaaa">
  <p><input type="submit" value="crear"></p>
</form>
