<!doctype html>
<html lang="es">
<head>
  <meta charset="utf8">
  <title>bodas</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Invitaciones de Boda</a></h1>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p>Elena M. 2017</p>
  </footer>
</body>
</html>